<div class="fixed-bottom container-fluid text-center bottom-container">
    <footer>
        <p>For more information pertaining to the School of Computing and the Diploma in Applied AI & Analytics, please refer to the links below</p>
        <table class="Outsource">
            <tr>
                <td><nav>
                    <ul class="nav">
                    <li class="nav-item">
                    <a href="https://www.sp.edu.sg/soc">School of Computing (SOC)</a></li>
                    </ul>
                    </nav></td>
                <td><nav>
                    <ul class="nav">
                    <li class="nav-item">
                        <a href="https://www.sp.edu.sg/soc/courses/full-time-diplomas/applied-AI-and-analytics">Diploma in Applied AI & Analytics (DAAA)</a></li>
                    </ul>
                    </nav></td>
            </tr>
        </table>


         <p>Copyright &copy;2022. &#9865; Diploma in Applied AI and Analytics (DAAA) &#9865;
            All rights reserved.</p>
    </footer>
</div>
   